body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: rgb(247, 247, 247);
    background-image: url('photos/middle-background.png');
}

p, h4 {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    gap: 200px;
    color: rgb(79, 79, 79);
    border: 2px white solid ;
    border-radius: 10px;
}
.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.cookie_image {
    width: 300px;
    cursor: pointer;
}
.cookie_image:hover {
    transform: scale(1.03);
    opacity: 0.97;
    transition: all 0.3s ease-in-out;
}
.cookie_image:active {
    opacity: 0.8;
}

.upgrade {
    position: relative;
    display: flex;
    align-items: center;
    width: 330px;
    height: 60px;
    border:5px solid rgb(255, 255, 255) ;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.549);
}
.cost_info {
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.upgrade_image {
    width: 50px;
}
.upgrade_cookie{
    width: 15px;
}
.next_level_info {
    position: absolute;
    right: -100px;
    height: 80px;
    width: 100px;
    background-color: rgb(193, 193, 193);
    text-align: center;
    border-radius: 5px;
    z-index: -1;
    display: none;
}
.next_level_info p {
    margin-top: 20px;
}

.upgrade:hover .next_level_info {
    display: block;
}


