body {
    position: relative;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: rgb(247, 247, 247);
    background-image: url('photos/middle-background.png');
}
.modes {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    cursor: pointer;
}
#light_mode {
    position: relative;
    right: 20px;
    display: none;
}
#dark_mode {
    position: relative;
    position: relative;
    right: 20px;
}


p, h4, h1 {
    margin: 0px;
    padding: 0px;
}
h1 {
    color: rgb(254, 255, 252);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.main {
    position: relative;
    display: flex;
    gap: 180px;
    color: rgb(79, 79, 79);
    border: 2px rgb(255, 255, 255) solid ;
    border-radius: 10px;
    height: 80vh;      
    overflow: hidden;  
}

.right {
    position: relative;
    right: 0px;
    width: 463px;
    overflow-y: auto; 
    overflow-x: hidden; 
    scrollbar-width: thin;          
    scrollbar-color: #2b2b2b38 transparent; 
    color: rgb(79, 79, 79);

}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;

}
.cookie_image {
    width: 470px;
    cursor: pointer;
}
.cookie_image:hover {
    transform: scale(1.03);
    opacity: 0.97;
    transition: all 0.3s ease-in-out;
}
.cookie_image:active {
    opacity: 0.8;
}

.upgrade {
    position: relative;
    display: flex;
    align-items: center;
    width: 330px;
    height: 60px;
    border:2px solid rgb(255, 255, 255) ;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: rgba(255, 254, 254, 0.465);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

}
.cost_info {
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.upgrade_image {
    width: 50px;
}
.upgrade_cookie{
    width: 15px;
}
.next_level_info {
    position: absolute;
    right:  -100px;
    height: 80px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.639);
    text-align: center;
    border-radius: 5px;
    z-index: -1;
    display: none;
}
.next_level_info p {
    margin-top: 20px;
}

.upgrade:hover .next_level_info {
    display: block;
}

.stats {
    position: absolute;
    bottom: 20px;
    left: 170px;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.639);
    padding: 10px;
    border-radius: 5px;
}


